.hero {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    animation: bg-fade 1.5s linear forwards;
    
    @include breakpoint-up(map-get($breakpoints, 'medium')) {
        background-position: center 30%;
    }
    @include breakpoint-up(map-get($breakpoints, 'large')) {
        background-position: top center;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &::before {
        background-color: map-get($primary-color, '900');
        z-index: 1;
        -webkit-transform: translateX(-101%);
        -ms-transform: translateX(-101%);
        transform: translateX(-101%);
        -webkit-animation: hero-appearing 1.5s cubic-bezier(.86, 0, .07, 1) forwards;
        animation: hero-appearing 1.5s cubic-bezier(.86, 0, .07, 1) forwards;
    }

    &:after {
        background-color: map-get($primary-color, '700');
        z-index: 2;
        -webkit-transform: translateX(-101%);
        -ms-transform: translateX(-101%);
        transform: translateX(-101%);
        -webkit-animation: hero-appearing 1.2s .2s cubic-bezier(1, 0, .54, .99) forwards;
        animation: hero-appearing 1.2s .2s cubic-bezier(1, 0, .54, .99) forwards;
    }

    @include breakpoint-down(map-get($breakpoints, 'large')) {
        grid-row: 1 / 2;
    }
}

// Bg fade
@-webkit-keyframes bg-fade {
    from {
        background-image: none;
    }
    to {
        background-image: url(../img/imagen1.png);
    }
}
@keyframes bg-fade {
    from {
        background-image: none;
    }
    to {
        background-image: url(../img/imagen1.png);
    }
}

// Hero Appearing
@-webkit-keyframes hero-appearing {
    0% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%)
    }

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    100% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%)
    }
}
@keyframes hero-appearing {
    0% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%)
    }

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    100% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%)
    }
}