/* -------------------------------------------------------------------------- */
/*                                  Abstracts                                 */
/* -------------------------------------------------------------------------- */
/* ------ Colors ------ */
/* ------ Fonts ------ */
/* ------ Breakpoints ------ */
/* ------ Border ------ */
/* ------ Breakpoints ------ */
/* -------------------------------------------------------------------------- */
/*                                   Vendors                                  */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                    Base                                    */
/* -------------------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

.form, .newsletter__subscribe, .newsletter__title, .intro, .menu {
  opacity: 0;
  transform: rotateX(-90deg);
  transform-origin: top center;
  -webkit-animation: intro-fade 1.5s 1s cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
  animation: intro-fade 1.5s 1s cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
}

@-webkit-keyframes intro-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes intro-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
body {
  color: #0C0910;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Old Standard TT", serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* -------------------------------------------------------------------------- */
/*                                   Layout                                   */
/* -------------------------------------------------------------------------- */
.header .navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.grid-wrapper {
  height: 100vh;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 18.75rem auto;
  height: 100%;
}
@media (min-width: 768px) {
  .main-grid {
    grid-template-rows: 25rem auto;
  }
}
@media (min-width: 992px) {
  .main-grid {
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* -------------------------------------------------------------------------- */
/*                                 Components                                 */
/* -------------------------------------------------------------------------- */
.navbar #toggler,
.navbar label {
  display: none;
}
@media (max-width: 768px) {
  .navbar .menu {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }
  .navbar .menu__list {
    align-items: center;
    flex-direction: column;
    padding: 1.25rem;
  }
  .navbar label {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    margin-inline-end: 50px;
  }
  .navbar label i {
    color: #0C0910;
    font-size: 1.875rem;
  }
  .navbar #toggler:checked ~ .menu {
    max-height: 100%;
  }
}

.menu {
  padding-inline: 6.25rem;
}
.menu__list {
  display: flex;
  gap: 3.125em;
  list-style-type: none;
}
.menu__list a {
  color: #0C0910;
  font-weight: 700;
  text-decoration: none;
}

.logo {
  background-color: #0C0910;
  color: #FFFFFF;
  font-family: "Old Standard TT", serif;
  font-size: 1.25rem;
  padding: 1.25em;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .logo {
    font-size: 1.875rem;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 3.125rem;
}
@media (min-width: 992px) {
  .intro {
    padding: 6.25rem;
  }
}
@media (min-width: 768px) {
  .intro {
    padding: 3.125rem 6.25rem;
  }
}
.intro__title {
  font-size: 2.5rem;
  line-height: 1.2;
  max-width: 100%;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .intro__title {
    max-width: 14ch;
  }
}
@media (min-width: 768px) {
  .intro__title {
    font-size: 3.125rem;
    max-width: 18ch;
  }
}
.intro__text {
  max-width: 100%;
}
@media (min-width: 992px) {
  .intro__text {
    max-width: 30ch;
  }
}
@media (min-width: 768px) {
  .intro__text {
    max-width: 52ch;
  }
}
.intro__text p {
  color: #646266;
  font-size: 1.125rem;
}

.hero {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  animation: bg-fade 1.5s linear forwards;
}
@media (min-width: 768px) {
  .hero {
    background-position: center 30%;
  }
}
@media (min-width: 992px) {
  .hero {
    background-position: top center;
  }
}
.hero::before, .hero::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hero::before {
  background-color: #0C0910;
  z-index: 1;
  -webkit-transform: translateX(-101%);
  -ms-transform: translateX(-101%);
  transform: translateX(-101%);
  -webkit-animation: hero-appearing 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation: hero-appearing 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
.hero:after {
  background-color: #A6A5A8;
  z-index: 2;
  -webkit-transform: translateX(-101%);
  -ms-transform: translateX(-101%);
  transform: translateX(-101%);
  -webkit-animation: hero-appearing 1.2s 0.2s cubic-bezier(1, 0, 0.54, 0.99) forwards;
  animation: hero-appearing 1.2s 0.2s cubic-bezier(1, 0, 0.54, 0.99) forwards;
}
@media (max-width: 992px) {
  .hero {
    grid-row: 1/2;
  }
}

@-webkit-keyframes bg-fade {
  from {
    background-image: none;
  }
  to {
    background-image: url(../img/imagen1.png);
  }
}
@keyframes bg-fade {
  from {
    background-image: none;
  }
  to {
    background-image: url(../img/imagen1.png);
  }
}
@-webkit-keyframes hero-appearing {
  0% {
    -webkit-transform: translateX(-101%);
    transform: translateX(-101%);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(101%);
    transform: translateX(101%);
  }
}
@keyframes hero-appearing {
  0% {
    -webkit-transform: translateX(-101%);
    transform: translateX(-101%);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(101%);
    transform: translateX(101%);
  }
}
.button {
  align-self: flex-start;
  border: 1px solid #0C0910;
  color: #0C0910;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5em 1.5625em;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.button:hover, .button:focus {
  border-color: #A6A5A8;
}
.button:focus {
  color: #A6A5A8;
}
@media (min-width: 768px) {
  .button {
    font-size: 1.125rem;
  }
}

.newsletter {
  color: #FFFFFF;
  display: grid;
  grid-template-columns: auto 3.75rem;
}
.newsletter__content {
  background-color: #0C0910;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  padding: 3.125rem;
}
@media (min-width: 992px) {
  .newsletter__content {
    padding: 2.1875rem 6.25rem 6.25rem;
  }
}
@media (min-width: 768px) {
  .newsletter__content {
    padding: 3.125rem 6.25rem;
  }
}
.newsletter__title {
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 0.0625rem;
}
.newsletter__subscribe {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.newsletter__subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #646266;
  transition: width 250ms cubic-bezier(0.7, 0, 0.2, 1);
}
.newsletter__subscribe:hover::before, .newsletter__subscribe:hover::before, .newsletter__subscribe:focus::before, .newsletter__subscribe:focus::before {
  width: 100%;
}
.newsletter__subscribe:hover a, .newsletter__subscribe:focus a {
  color: #FFFFFF;
}
.newsletter__subscribe a {
  color: #0C0910;
  display: block;
  font-family: "Old Standard TT", serif;
  font-size: 1.625rem;
  position: relative;
  text-decoration: none;
  text-orientation: sideways;
  writing-mode: vertical-rl;
}

.form .form__group {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.form .form__group label {
  font-family: "Old Standard TT", serif;
}
.form .form__group input {
  border: 0;
  padding: 0.3125rem 0.625rem;
}
.form .form__group input:focus, .form .form__group input:active {
  outline: none;
}
.form .form__group input::-webkit-input-placeholder {
  color: #0C0910;
  font-size: 0.875rem;
}
.form .form__group input::-moz-placeholder {
  color: #0C0910;
  font-size: 0.875rem;
}
.form .form__group input:-ms-input-placeholder {
  color: #0C0910;
  font-size: 0.875rem;
}
.form .form__group input::-ms-input-placeholder {
  color: #0C0910;
  font-size: 0.875rem;
}
.form .form__group input::placeholder {
  color: #0C0910;
  font-size: 0.875rem;
}

/* -------------------------------------------------------------------------- */
/*                                    Pages                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   Themes                                   */
/* -------------------------------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
